
.box {
	background: #bfbfbf;
	position: relative;
	left: 0;
	display: inline-block;
	width: 50%;
	min-height: 200px;
	max-height: 400px;
	padding: 10px;
	overflow: auto;
}

.item {
	width: auto;
	max-width: 100%;
	padding: 10px;
	display: block;
	height: 75px;
	background: #9f9f9f;
	margin: 0 0 7px;
}

.item-attribute {
	text-align: left;
	left: 0;
	position: relative;
	height: inherit;
	width: auto;
	display: inline-block;
}

.delete-form {
	position: relative;
	width: inherit;
	right:0;
}

#put-items {
	display: inline-block;
	right: 0;
	background: #bfbfbf;
	position: absolute;
	padding: 2%;
	width: 30%;
}
