<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.eduardo.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/auth</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>signin</servlet-name>
		<servlet-class>com.eduardo.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signin</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	
	
	
	
	<context-param>
		<param-name>dbconnection</param-name>
		<param-value>mongodb://localhost:27017/</param-value>
	</context-param>
	<context-param>
		<param-name>db</param-name>
		<param-value>simpleCrud</param-value>
	</context-param>
	<context-param>
		<param-name>collection</param-name>
		<param-value>users</param-value>
	</context-param>

</web-app>